/* This CSS page styles the characters handlebar popoulation and is specified in main.handlebars */

* {
  box-sizing: border-box;
}

html {
  position: relative;
  height: 100%;
  box-sizing: border-box;
}

body {
  height: 100%;    
  font-family: gso;
  font-size: 24px;
  background-image: url(../images/dinosaurs.jpg);
  transition: background 1s linear;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: black;
  color: white;
}

.btn-primary {
  font-weight: bold;
  background-color: grey;
  border-color: black;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  color: orange;
  background-color: grey;
  border-color: black;
}

#form_column {
  background-color: rgba(192,192,192,0.7);
  text-align: center;
  border-radius: 5px;
  height: 100%;
}

h2 {
  padding-left: 2%;
  border-radius: 5px;
  background: orange;
  width: 400px;
}

input {
  width: 400px;
}

#barney_image {
  max-width: 100%;
  height: auto;
}

.btn-warning {
  font-weight: bold;
  background-color: orange;
  border-color: black;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.character-image {
    margin: 0px;
    background-color: orange;
    border: 4px outset grey;
    opacity: 1;
}

.image-button:focus, .image-button:active:focus, .image-button:active {
    cursor: pointer;
    opacity: 0.70;
}

.character-image:hover {
  cursor: pointer;
  opacity: 0.70;
}

.card {
  background-color: black;
  width: 200px;
  height: 450px;
}

.card-title {
  color: orange;
  font-size: 28px;
}

.card-text {
  font-size: 20px;
}

.list-group-item {
  background-color: black;
  font-size: 20px;
}

/* tooltip1 container */
.tooltip1 {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* tooltip1 text */
.tooltip1 .tooltip1text {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip1 text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip1 text when you mouse over the tooltip1 container */
.tooltip1:hover .tooltip1text {
  visibility: visible;
}


/* Add padding to containers */
.container {
  padding: 16px;
  background-color: white;
}
/* Full-width input fields */
input[type=text], input[type=password] {
  width: 30%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
/* Set a style for the submit button */
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
.registerbtn:hover {
  opacity: 1;
}
/* Add a blue text color to links */
a {
  color: dodgerblue;
}
/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}

/* HIDE RADIO */
[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  outline: 2px solid #f3c50c;
  opacity: .70;
}

/* Galiver Sans Obliques font file */
@font-face {
  font-family: "gso";
  src: url(../fonts/SGALS.ttf);
}